<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试页面</title>
    <link rel="stylesheet" href="../framework/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid" ng-app="myApp">
    <div class="row">
        <div class="col-xs-3">
            <img src="logo.gif" alt="普坤" style="height: 45px;">
        </div>
        <div class="col-xs-3 pull-right">
            <button class="btn btn-link" style="height: 45px;">主页</button>
            <button class="btn btn-link" style="height: 45px;">注销</button>
        </div>
    </div>
    <hr style="margin-bottom: 3px;"/>
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav navbar-nav">
                <li>
                    <div class="dropdown" onmouseover="$(this).addClass('open')"
                         onmouseout="$(this).removeClass('open')">
                        <a class="btn btn-link">工时管理</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">工时录入</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown" onmouseover="$(this).addClass('open')"
                         onmouseout="$(this).removeClass('open')">
                        <a class="btn btn-link">个人设置</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人密码修改</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>当前位置:</li>
                <li>工时管理</li>
                <li class="active">工时录入</li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="body" class="col-xs-10 col-xs-offset-1">
            as
        </div>
    </div>
</div>

<script src="../framework/angular/Angular.js"></script>
<script src="../framework/jquery/jquery.min.js"></script>
<script src="../framework/bootstrap/js/bootstrap.min.js"></script>
<script src="../framework/canvas-nest.min.js" color="255,0,0" opacity="0.5" count="50"></script>
</body>
</html>